@page
@model SuccessModel
    @{
ViewData["Title"] = "Success";
    }
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>

<p style="font-size:1.5em;"><a href="/Index">Submit another question</a></p>
<p style="font-size:1.5em;"><a href="/Questions">View questions</a></p>

